        /* Global Styles */
        
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #000;
        }
        
        a {
            text-decoration: none;
            color: #000;
        }
        
        ul {
            list-style: none;
        }
        
        img {
            max-width: 100%;
        }
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        }
        
        .boxicons li {
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
        }
        
        .boxicons li:last-child {
            margin-right: 0;
        }
        
        .boxicons i {
            font-size: 24px;
            margin-right: 5px;
        }
        
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            background-color: #dadada;
        }
        
        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        nav ul li {
            margin-right: 30px;
            padding-right: 1rem;
        }
        
        nav ul li:last-child {
            margin-right: 0;
        }
        
        nav a:hover {
            color: rgb(15, 75, 167);
        }
        
        nav a.active {
            color: rgb(15, 75, 167);
        }
        
        .logo {
            display: flex;
            align-items: center;
            margin-right: auto;
        }
        
        .logo img {
            padding-left: 2rem;
            height: 50px;
            margin-right: 10px;
        }
        
        @media screen and (max-width: 768px) {
            nav {
                flex-direction: column;
                text-align: center;
            }
            .logo {
                margin: 0;
                margin-bottom: 20px;
            }
            nav ul li {
                padding-left: 1rem;
                padding-right: .1rem;
                margin: 10px 0;
            }
        }
        /* About Section */
        
        .about {
            background-color: #000;
            color: #fff;
            padding: 50px 0;
            text-align: center;
        }
        
        .about h1 {
            font-size: 5rem;
            margin-bottom: 10px;
        }
        
        .about h1:hover {
            color: rgb(45, 224, 0);
        }
        
        .about p {
            font-size: 2.5rem;
            margin-bottom: 60px;
        }
        
        .about img {
            display: block;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 50%;
            border: 5px solid #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .skills {
            text-align: center;
            padding: 50px 0;
        }
        
        .skills h2 {
            font-size: 3rem;
            margin-bottom: 30px;
        }
        
        .skills h2:hover {
            color: rgb(15, 75, 167);
        }
        
        .skills li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .skills li i {
            margin-right: 15px;
            font-size: 2rem;
        }
        
        .skills li span {
            font-size: 1.6rem;
        }
        /* Projects Section */
        
        .projects {
            padding: 100px 0;
            text-align: center;
            background-color: #000;
        }
        
        .projects h2 {
            font-size: 3rem;
            margin-bottom: 60px;
            color: white;
        }
        
        .projects h2:hover {
            color: rgb(45, 224, 0);
        }
        
        .project-card {
            display: inline-block;
            background-color: #fff;
            padding: 40px;
            margin: 0 20px 60px;
            text-align: center;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        }
        
        .project-card h3 {
            font-size: 2.4rem;
            margin-bottom: 10px;
        }
        
        .project-card h3:hover {
            color: rgb(15, 75, 167);
        }
        
        .project-card p {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }
        
        .project-card img {
            display: block;
            margin: 0 auto 20px;
            width: 100%;
            max-width: 400px;
            padding: 1rem;
        }
        
        .btn {
            display: inline-block;
            background-color: #000;
            color: #fff;
            padding: 10px 20px;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            border: none;
            transition: background-color 0.3s ease-in-out;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        
        .btn:hover {
            background-color: #fff;
            color: #000;
            cursor: pointer;
        }
        /* Footer */
        
        footer {
            background-color: #dadada;
            color: #fff;
            padding: 10px 0;
        }
        
        footer ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        footer li {
            margin-right: 30px;
        }
        
        footer li:last-child {
            margin-right: 0;
        }
        
        footer a:hover {
            color: rgb(15, 75, 167);
        }
        
        .boxicons li a {
            font-size: 1.4em;
        }
        
        .boxicons li i {
            font-size: 2rem;
        }
        
        .boxicons li a:hover {
            transform: scale(1.1);
        }
        /* Typography */
        
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
            line-height: 1.6;
            color: black;
        }
        
        h1,
        h2,
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }
        
        h1 {
            font-size: 4rem;
            text-align: center;
            margin-top: 100px;
        }
        
        h2 {
            font-size: 3rem;
            margin-bottom: 30px;
        }
        
        h3 {
            font-size: 2rem;
        }
        
        p {
            margin: 0;
            margin-bottom: 20px;
        }
        
        .boxicons li {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            margin: 10px 0;
        }
        
        .boxicons li i {
            margin-right: 10px;
        }